[html]
directory = results/coverage
[run]
omit =
    *myLogger.py
    test/*
    */dist-packages/*
    *easy_id3_manager.py*
[report]
exclude_lines =
    if __name__ == "__main__":
    pragma: no_cover
skip_empty = true