# python files
__pycache__
# vsc
.vscode
#config files gmail
client_secret.json
gmail_token.json
# unittests results
results
# archive song file from youtube
test_downloaded_songs.txt
flask_session
notes.txt
.coverage
youtube_config.ini
flask_session/
.pytest_cache
yt_web
*-info
*.ini
downloaded_songs.txt
website_youtube_dl.svg
CONCEPTUAL_IMPROVEMENTS.md