/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Danfo&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans&family=Danfo&family=Jaro:opsz@6..72&family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --clr-neon: white;
    --clr-bg: rgb(209, 13, 16);
    --clr-textarea: rgb(204, 198, 255, 0.547);
    --main-font: "Oswald";
}


::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1;
  }


#background
{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-position: top;
background-attachment: fixed;
background-size: cover;
/* background: linear-gradient(to right, #247cce , rgb(1, 27, 41)); */
/* background: white; */
background: rgba(0, 0, 0, 0.925);
}



.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    background-size: cover;
    background: linear-gradient(to right top, #dd055be2, #810202);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .menu {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .menu {
        padding: 8px;
    }
}


.track-info {
    display: block;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.download-info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2500px;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-size: cover;
    background: linear-gradient(to right top, #dd055be2, #810202);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#downloadInfo tr {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

#downloadInfo td {
    display: flex;
    white-space: nowrap;
    padding: 10px 15px;
    width: 100%;
    max-width: 1500px;
}


.download-file-area{
    display: flex;
    justify-content: center;
}


.normal-button{
    font-size: 1.5rem;
    font-family: var(--main-font);
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    background-color: var(--clr-bg);
    padding: 0.25em 1em;
    border-radius: 0.25em;
}

.normal-button:hover{
    transform: scale(1.3);
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}


.neon-button {
    font-size: 30px;
    font-family: var(--main-font);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    background-color: var(--clr-bg);
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.3em;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
}

.neon-button:hover{
    transform: scale(1.3);
    background: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: none;
}

.post a:hover,
.post a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}
.table-form{
    border :rgb(4, 133, 253);
    border-style:solid;
    border-width: 3px;
    border-radius: 5px;
    margin: 15px 0;
    min-width: 400px;
    text-shadow: 0 0 0.3em;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
    0 0 0.5em 0 var(--clr-neon);
    position: relative;
}

.youtube-label{
    display: block;
    font-family: var(--main-font);
    font-size: 100px;
    color: white;
    margin-bottom: 10px;
}

.neon-label{
    font-size: 50px;
    color: var(--clr-neon);
    text-shadow: 0 0 0.3em;
}

.table-download-info{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    border-spacing: 40px;
    font-size: 30px;
    color: var(--clr-neon);
}

.table-modify-playlists{
    width: 50%;
    margin: 0 auto;
}

.table-modify-playlists td {
    padding: 10px;
    width: 150px;
    white-space: nowrap;
    min-width: 180px;
}

.neon-button-container {
    display: flex;
    justify-content: center; /* Moves the button to the right */
    width: 100%;
    padding-top: 30px;
}




.input-table td {
    padding: 10px;
    border: 1px solid #ccc;
}


.input-text{
    margin-left: auto;
    margin-right: auto;
    font-family: Jaro;
    font-style: oblique;
    font-size: 30px;
    cursor: pointer;
    background-color: var(--clr-textarea);
    border-radius: 0.25em;
    padding: 0.25em 1em;
}

.radio-buttons-label{
    color: white;
    font-size: 70px;
    font-family: var(--main-font);
}

.radio-buttons-label::after{
    color: black;
    font-size: 70px;
    font-family: var(--main-font);
}

.sucess-mark {
    font-size: 50px;
    padding-right: 45px;
    padding-bottom: 4px;
    color: rgb(0, 255, 0);
  }
