<!DOCTYPE HTML>
<html lang="pl">
<head>
<meta charset="utf-8" />
<title>Template</title>
<meta name="description" content="template" />
	<meta name="keywords" content="template"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/style.css" type="text/css" />	
</head>
<body id="background">
{% include "headers.html"%}
<center>
<h1 class="neon-label">Home Page</h1>
</center>
</body>
</html>
