<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Modify Playlist</title>
    <meta name="desctiption" content="template"/>
    <meta http-equiv="X-UA-Compatible" content="template"/>
	<script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/style.css" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="static/modify_playlist.js"></script>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for  category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<body id="background">
{% include "headers.html"%}
<br>
<br>
<center>
    <form action="modify_playlist" method="post">
        <table class="ms-auto me-auto">
            <tr>
                <td><p class="neon-label" style="font-size: 30px">Playlist Name</p></td>
                <td><input class="input-text" type="text" name="playlistName" placeholder="Playlist Name" size="30"></input></td>
            </tr>
            <tr>
                <td><p class="neon-label" style="font-size: 30px">URL</p></td>
                <td><input class="input-text"  type="url" name="playlistURL" placeholder="Playlist URL" size="50"></input></td>
            </tr>
        </table>
        <input class="neon-button" type="submit" value="Add playlist" name="AddPlaylistButton"/>
        <br>
        <label for="playlists" class="neon-label">List of playlists</label>
        <br>
        <select name="playlistSelect" id="playlistSelect" size="5" style="width: 300px;" class="input-text">
            {% for playlistName in playlistsNames %}
            <option value={{ playlistName }}>{{ playlistName }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button class="neon-button" type="submit" value="DeletePlaylist" name="DeletePlaylistButton">Delete playlist</button>
    </form>
    <form id="downloadConfigPlaylist">
        <center>
            <br>
            <button class="neon-button"  type="submit">Download Config Playlist</button>
        </center>
    </form>
</center>
</body>
</html>