<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <title>Modify Playlist</title>
    <meta name="desctiption" content="template" />
    <meta http-equiv="X-UA-Compatible" content="template" />
    <script src="../static/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/playlists.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8" src="static/socketMessages.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />

</head>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<body id="background">
    {% include "headers.html"%}
    <br>
    <br>
    <center>
        <div class="menu">
            <form>
                <table class="table-modify-playlists">
                    <tr>
                        <td><p class="neon-label" style="font-size: 30px;" >Playlist Name</p></td>
                        <td><input class="input-text" type="text" id="playlistName" placeholder="Playlist Name"
                                size="50"></input></td>
                    </tr>
                    <tr>
                        <td><p class="neon-label" style="font-size: 30px">URL</p></td>
                        <td><input class="input-text" type="url" id="playlistURL" placeholder="Playlist URL"
                                size="50"></input></td>
                    </tr>
                </table>
            </form>
            <br>
            <div class="neon-button-container">
                <button class="neon-button" id="addPlaylistButton">Add playlist</button>
            </div>
        </div>
    <br>
    <br>

    <div class="download-info-area">

        <label for="playlists" class="neon-label">List of playlists</label>
        <br>
        <select name="playlistSelect" id="playlistSelect" size="5" style="width: 300px;" class="input-text">
            {% for playlistName in playlistsNames %}
            <option value={{ playlistName }}>{{ playlistName }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button id="downloadPlaylist" class="neon-button">Download Config Playlist</button>
        <br>
        <br>
        <button class="neon-button" id="deletePlaylistButton">Delete playlist</button>
        <br>
        <br>
        <table id="downloadInfo" class="neon-label-small">
        </table>
        <br>
    </div>
    <div id="downloadSection">
    </div>
    </center>
</body>
</html>